{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2 ">
            <h1 class"">Admin panel</h1>
        </div>
        <div class="col-10">hello</div>
    </div>


{% endblock %}
